--extra-index-url https://oauth2accesstoken:{{ACCESS_TOKEN}}@{{REGION}}-python.pkg.dev/{{PROJECT}}/{{REPO}}/simple/
alembic==1.11.1
black==22.12.0
coverage==7.1.0
fastapi[all]==0.88
fastjsonschema==2.16.2
freezegun==1.2.2
flake8==6.0.0
flake8-docstrings==1.7.0
google-api-core==2.11.0
google-auth==2.16.0
google-cloud-logging==3.2.1
google-cloud-runtimeconfig==0.33.2
google-cloud-pubsub==2.14.0
google-cloud-redis==2.11.1
google-crc32c==1.5.0
isort==5.11.4
keyrings.google-artifactregistry-auth==1.1.1
orjson==3.8.5
pipreqs==0.4.13
pydantic==1.10.4
pylint==2.15.10
pytest==7.2.1
pytest-asyncio==0.20.3
python-dateutil==2.8.2
pyyaml==6.0
sqlalchemy==1.4.41
sqlalchemy-bigquery==1.7.0
twine==4.0.2
xhtml2pdf==0.2.6
protobuf==3.19.5
dictdiffer==0.9.0
newrelic==8.7.0
pycairo==1.23.0

# custom FTS Packages
fts-utilities==1.5.1
fts-enums==1.0.7
fts-ldam==1.0.4
fts-cloudsql==2.2.4
fts-bigquery==1.9.9
fts-cloudstorage==1.11.0
fts-enums==1.0.7
fts-cache==1.0.7
fts-pay-decisions==1.0.4
